appdirs==1.4.4
beautifulsoup4==4.9.3
bleach==3.2.1
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
cssselect==1.1.0
decorator==4.4.2
docutils==0.16
et-xmlfile==1.0.1
fake-useragent==0.1.11
idna==2.10
jdcal==1.4.1
keyring==21.7.0
lxml==4.6.2
openpyxl==3.0.5
packaging==20.8
parse==1.18.0
pkginfo==1.6.1
pyee==7.0.4
Pygments==2.7.3
pyparsing==2.4.7
pyppeteer==0.2.2
pyquery==1.4.3
readme-renderer==28.0
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.4.0
selenium==3.141.0
six==1.15.0
soupsieve==2.1
tqdm==4.54.1
twine==3.3.0
urllib3==1.26.2
validators==0.18.2
w3lib==1.22.0
webencodings==0.5.1
websockets==8.1
